/* --Header Page-- */
/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 body {
    font-family: "Poppins", serif;
    font-weight: normal;
} */

/* header{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
} */
/* .my-name{
  margin-left: 40px;
  font-size: 30px;
  font-weight: bold;
}  */

 /* li  {
  display: inline-block;
  margin: 1rem;
  margin-right: 50px;
  font-size: 20px ;
  font-weight: bold;
 } */
/* .nav-container {
    max-width: 100%;
    background-color:deepskyblue;
    position: absolute;
    top: 0;
    right: -100%;
    transition: 0.3s ease;
  } */

 /*--Main Page-- */
 
  /* .hero {
    display: flex;
    justify-content: space-between;
    background-color:rgb(86, 184, 184);
    height: 100vh;
  }
  .my-image {
    width: 400px;
    height: 400px;
    background-color: rgb(67, 238, 141);
    border-radius: 50%;
    margin-top: 80px;
    margin-right: 200px;
    box-shadow: 0px 5px 5px 5px black;
  }
  .intro {
    padding-left: 120px;
    padding-top: 90px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: bold;
  }
  .name {
    font-size: 80px;
    padding-left: 0px;
    color: ivory;
  }
  .skill {
    color: rgb(67, 238, 141);
  }
.goal {
  padding-top: 0px;
  font-size:20px ;
  color: white;
}
.github-icon {
  width: 50px;
  height: 50px;
  margin-left: 114px;
}
.linkedin-icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.whatsapp-icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.facebook-icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.github-icon,
.linkedin-icon,
.whatsapp-icon {
  padding-top: 20px;
}
.reachout {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 114px;
  background-color: rgb(67, 238, 141);
  border: 2px groove black;
  border-radius: 10px 5px;
}

.sec-2-header {
  text-align: center;
  font-size: 2.6rem;
}
.the-big-three,
.libraries,
.git {
  display: flex;
  justify-content: center;
}
.tech-stack{
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 1rem;
  border: 2px groove black;
}

.sec-3-header {
  text-align: center;
  font-size: 2.6rem;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}
.feather-flow {
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.feather-flow-img,
.uni-img,
.amazon-img,
.marketing-img {
  width:500px;
  height: 300px;
  box-shadow: -5px 5px 5px #000;
  border-top-right-radius: 10px;
}
.uni {
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.amazon {
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
.trading {
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}
.project-name {
 font-size: 1.2rem;
 font-weight: bold;
 text-align: center;
}
.sec-3-btn-container {
  display: flex;
  justify-content: center;
}
.web-btn,
.github-btn {
  width: 100px;
  height: 30px;
  font-weight: bold;
  margin-top: 20px;
  border: 2px groove black;
  border-radius: 10px 5px;
}

.sec-4-header {
  text-align: center;
  font-size: 2.5rem;

}
 */
